**
!NuGet.Config
!Binance.LocalOrderBook.sln
!src/
!src/Binance.LocalOrderBook/
!src/Binance.LocalOrderBook/*.csproj
!src/Binance.LocalOrderBook/*.cs
!tests/
!tests/Binance.LocalOrderBook.Tests/
!tests/Binance.LocalOrderBook.Tests/*.csproj
!tests/Binance.LocalOrderBook.Tests/*.cs
**/bin/
**/obj/
**/bin/**
**/obj/**
